# ===== 服务（选填）=====
# SERVER_PORT=9090
# SPRING_APPLICATION_NAME=dextea-trade

# ===== MySQL（必填） =====
DB_HOST=localhost
DB_PORT=3306
DB_NAME=dextea
DB_USERNAME=root
DB_PASSWORD=root

# ===== Redis（必填）=====
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=

# ===== Nacos（选填）=====
# NACOS_SERVER_ADDR=127.0.0.1:8848
# NACOS_NAMESPACE=dextea
# NACOS_USERNAME=nacos
# NACOS_PASSWORD=nacos
# NACOS_CONFIG_GROUP=dextea

# ===== 支付宝 =====
ALIPAY_APP_ID=
ALIPAY_PRIVATE_KEY=
ALIPAY_PUBLIC_KEY=
# ALIPAY_SUBJECT=德贤茶庄订单
# ALIPAY_GATEWAY=https://openapi.alipay.com
# ALIPAY_PRODUCT_CODE=JSAPI_PAY
# 开发环境固定订单金额，生产环境置空改用真实金额
# ALIPAY_FORCE_AMOUNT=0.01
# 异步回调地址，留空则不设置
# ALIPAY_NOTIFY_URL=

# ===== RocketMQ =====
ROCKETMQ_ENABLED=true
ROCKETMQ_ENDPOINTS=
ROCKETMQ_TOPIC=
ROCKETMQ_CONSUMER_GROUP=
# 订阅 Tag 过滤规则，默认 * 表示订阅所有 Tag
ROCKETMQ_TAG=*
# 实例 ID（阿里云）
ROCKETMQ_NAMESPACE=
# 访问用户名
ROCKETMQ_ACCESS_KEY=
# 访问密码
ROCKETMQ_SECRET_KEY=

# ===== CosId =====
COSID_NAMESPACE=dextea-trade
COSID_MACHINE_ENABLED=true
COSID_MACHINE_DISTRIBUTOR_TYPE=redis
COSID_SNOWFLAKE_ENABLED=true
COSID_SNOWFLAKE_PROVIDER_ORDER_NAMESPACE=dextea-trade

# ===== 订单 =====
# 支付超时 TTL（分钟）
# ORDER_PAYMENT_TTL=15
# 幂等键 TTL（分钟）
# ORDER_CREATE_ORDER_IDEM_TTL=1440
# 创建订单分布式锁 TTL（分钟）
# ORDER_CREATE_ORDER_LOCK_TTL=1
